<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resigter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
</head>
<body>
   <div class="overlay"></div>
   <form action="{{ url_for('login_user') }}" method="post" class="box">
       <div class="header">
           <h4>Đăng nhập nào</h4>
           <p>Mời mọi người điền thông tin ạ</p>
       </div>
        {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
    {% endwith %}
       <div class="login-area">
           <input type="text" class="username" placeholder="Username" name="username">
           <input type="password" class="password" placeholder="Password" name="password">
           <input type="submit" value="Login" class="submit" >

           <center><a href="{{ url_for('register') }}" class="submit">Register</a></center>
           <a href="{{ url_for('index') }}">Back</a>
       </div>
   </form> 
</body>
</html>